{% extends "auctions/layout.html" %}

{% block body %}

{% load static %}



<div class="container text-center tm-welcome-container">
  <div class="tm-welcome">
    <i class="fas tm-fa-big fa-music tm-fa-mb-big"></i>
    <h1 class="text-uppercase mb-3 tm-site-name">Commerce</h1>
    <p class="tm-site-description">Active Listings</p>
  </div>
</div>

</div>

<div class="container">


  <div class="row tm-albums-container grid">
    <div class="col-sm-6 col-12 col-md-6 col-lg-3 col-xl-3 tm-album-col">
      <figure class="effect-sadie">
        <img src="{% static 'assets/images/02.jpg' %}" alt="Image" class="img-fluid">
        <figcaption>
          <h2>First Album</h2>
          <p>Lorem ipsum dolor sit amet.</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-12 col-md-6 col-lg-3 col-xl-3 tm-album-col">
      <figure class="effect-sadie">
        <img src="{% static 'assets/images/03.jpg' %}" alt="Image" class="img-fluid">
        <figcaption>
          <h2>Album Two</h2>
          <p>Lorem ipsum dolor sit amet.</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-12 col-md-6 col-lg-3 col-xl-3 tm-album-col">
      <figure class="effect-sadie">
        <img src="{% static 'assets/images/04.jpg' %}" alt="Image" class="img-fluid">
        <figcaption>
          <h2>Third Album</h2>
          <p>Lorem ipsum dolor sit amet.</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-12 col-md-6 col-lg-3 col-xl-3 tm-album-col">
      <figure class="effect-sadie">
        <img src="{% static 'assets/images/05.jpg' %}" alt="Image" class="img-fluid">
        <figcaption>
          <h2>Album Four</h2>
          <p>Lorem ipsum dolor sit amet.</p>
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="tm-tag-line">
        <h2 class="tm-tag-line-title">Music is your powerful energy.</h2>
      </div>
    </div>
  </div>

  <form action="{% url 'displayCategory' %}" method="post" class="d-flex align-items-center justify-content-end">
    {% csrf_token %}
    <div class="form-group mb-0 me-2">
      <label for="category" class="mb-0">Choose a category:</label>
      <select required name="category" class="form-select" id="category">
        <option value="" selected>---------</option>
        {% for catego in categories %}
        <option value="{{ catego.id }}">{{ catego.categoryName }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-warning" style="background-color: #6699cc; border-color: #6699cc; color: white;">Select</button>
  </form>
  

  <div class="mt-4">
  </div>

  <div class="row mb-5">
    <div class="col-xl-12">
      <div class="media-boxes">
        {% for listing in listings %}
        <div class="media">
          <img src="{{ listing.imageUrl.url }}" alt="Image" class="custom-small-image">
          <style>
            .custom-small-image {
              width: 140px;
              height: 140px;
              object-fit: cover;
            }
          </style>
          <div class="media-body tm-bg-gray">
            <div class="tm-description-box">
              <h5 class="tm-text-blue">{{ listing.title }} - {{ listing.category.categoryName }}</h5>
              <p class="mb-0">{{ listing.description }}</p>
            </div>
            <div class="tm-buy-box">
              <a href="#" class="tm-bg-blue tm-text-white tm-buy">buy</a>
              <span class="tm-text-blue tm-price-tag">${{ listing.price }}</span>
            </div>
          </div>
        </div>
        {% endfor %}

        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {% if listings.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                  <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ listings.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% endif %}
        
            <li class="page-item disabled">
              <span class="page-link">Page {{ listings.number }} of {{ listings.paginator.num_pages }}</span>
            </li>
        
            {% if listings.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ listings.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ listings.paginator.num_pages }}" aria-label="Last">
                  <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
        

      </div> <!-- media-boxes -->
    </div>
  </div>


  <footer class="row">
    <div class="col-xl-12">
      <p class="text-center p-4">Copyright &copy; <span class="tm-current-year">2023</span> Commerce - Web Design: <a
          href="https://github.com/Orrv2904" target="_blank" class="tm-text-gray">Orrv2904</a></p>
    </div>
  </footer>
</div> <!-- .container -->

</div> <!-- .main -->
{% endblock %}